{
    default_sni {$SHARE_HOST}
}

https://{$SHARE_HOST} {
    tls internal
    encode zstd gzip
    reverse_proxy app:8080
    header {
        Strict-Transport-Security "max-age=31536000"
        -Server
    }
}
